<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jengkonangapp">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission-sdk-23 android:name="android.permission.INTERNET"/>
    <uses-permission-sdk-23 android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/administrasi"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/administrasi"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".list_informasi"></activity>
        <activity android:name=".laporan" />
        <activity android:name=".jadwalronda" />
        <activity android:name=".lorong_blothong" />
        <activity android:name=".informasi_layout" />
        <activity android:name=".administrasi1" />
        <activity android:name=".home_layout">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>